<section>
    <!-- Modal -->
    <form action="/admin/banners" method="post" enctype="multipart/form-data">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="examplecouponLabel">Add image</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label>Choose image</label>
                        <input type="file" accept="image/png, image/jpeg" name="image" id="image">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div>
        <table class="table table-striped table-dark content">
            <thead style="margin-top: 70px;">
                <tr>
                    <th scope="col">Banner</th>
                    <th scope="col">Banner Image</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                {{#each bannerDetails}}
                    <tr>
                        <td>Banner image-{{inc @index}}</td>
                        <td><img src="{{this.imageurl}}" width="140"></td>
                        <td>
                            <a href="/admin/bannerEdit/{{this._id}}">
                                <button type="button" class="btn btn-warning">
                                    Change image
                                </button>
                            </a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>