<div class="mx-2">
    <table class="table table-striped table-dark content" id="example">
        <thead style="margin-top: 70px;">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Block/Unblock</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
                <tr>
                    <td>{{inc @index}}</td>
                    <td>{{this.Name}}</td>
                    <td>
                        <a href="/admin/blockCustomer/{{this._id}}">
                            {{#if this.Block}}
                                <button type="button" class="btn btn-success" id="userBlock">Unblock</button> 
                            {{else}}
                                <button type="button" class="btn btn-danger" id="userBlock">Block</button>
                            {{/if}}
                        </a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <script>
        function changeLabel() {
            if (document.getElementById('userBlock').innerHTML == 'Block') {
                document.getElementById('userBlock').innerHTML = 'Unblock';
            } else {
                document.getElementById('userBlock').innerHTML = 'Block';
            }
        }
    </script>
</div>