<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Image</th>
            <th scope="col">Quantity</th>
        </tr>
    </thead>
    <tbody>
        {{#each productDetails}}
            <tr>
                <th scope="row">{{inc @index}}</th>
                <td>{{this.productId.Name}}</td>
                <td><img src="{{this.productId.imageurl}}" width="40"></td>
                <td>{{this.quantity}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>