<head>
    <meta charset="utf-8">
    <title>Phonemart</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

    <!-- Topbar Start -->
    <div class="container-fluid">

        <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
            <div class="col-lg-4">
                <a href="/" class="text-decoration-none">
                    <span class="h1 text-uppercase text-primary bg-dark px-2">PHONE</span>
                    <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">MART</span>
                </a>
            </div>
            <div class="col-lg-4 col-6 text-left">
            </div>
            <div class="col-lg-4 col-6 text-right">
                <p class="m-0">Customer Service</p>
                <h5 class="m-0">+91 7591931025</h5>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <div class="container-fluid row justify-content-center">
        <div class="col-md-4 col-lg-4 border border-primary mt-5 ml-4" style="border-radius: 0.5rem">
            <div class="d-flex justify-content-center">
                <h2 class="py-3">Sign up</h2>
            </div>
            <form action="/signup" method="post" id="userSignupForm">

                <!-- Name field -->
                <div class="form-outline mb-3">
                    <input type="text" id="nameField" name="userName" class="form-control" placeholder="Enter your name"
                        onfocusout="validateName()" required />
                    <p class="ml-1 mt-2 text-danger" id="nameError"></p>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-3">
                    <input type="email" id="emailField" class="form-control" name="Email" placeholder="Enter your email"
                        required />
                    <p id="emailError"></p>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-3">
                    <input type="password" id="passwordField" class="form-control mb-3" name="Password"
                        placeholder="Enter password" required />
                    <p id="passwordError"></p>
                </div>

                <div>
                    <p class="ml-4 pl-5 text-danger">{{message}}</p>
                </div>

                <div class="text-center">
                    <p>Already have an account? <a href="/login">Log in</a></p>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
            </form>
        </div>
    </div>

    <script>
        function validateName(){
            let nameError = document.getElementById('nameError');
            let name = document.getElementById('nameField').value;
            if(name.length<3){
                nameError.innerHTML = 'Name must be at least 3 characters';
            }else{
                nameError.innerHTML = '';
            }
        }
    </script>
</body>